* {
    margin: 0px;
}

@font-face {
    font-family: "Fancy";
    src: url(./fonts/Bilbo_Swash_Caps/BilboSwashCaps-Regular.ttf);
}

header {
    background-color: rgb(6, 53, 184);
    height: 200px;
}

header h1 {
    padding: 30px;
    text-align: center;
    font-size: 80px;
    font-family: "Fancy", 'Times New Roman', Times, serif;
    color: whitesmoke
}

.bookadd {
    height: 300px;
    background-color: rgb(106, 135, 241);
    display: flex;
    align-items: center;
    justify-content: center;
}

.bookdisplay {
    height: 900px;
    background-color: rgb(168, 164, 237);
    display: grid;
    grid: 300px 300px 300px / 1fr 1fr 1fr 1fr;
    padding: 60px;
}

.card {
    background-color: rgb(204, 204, 235);
    width: 80%;
    height: 80%;
    text-align: center;
    font-size: 30px;
    padding: 20px;
    border-radius: 18px;
    font-family: "Fancy", 'Times New Roman', Times, serif;
    font-weight: 500;
}

label {
    font-size: 22px;
}

